@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg); }
  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg); }
  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg); }
  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg); }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg); } }
p, span, small, a {
  font-family: 'Montserrat';
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h5 {
  font-family: 'Roboto'; }

body {
  background: linear-gradient(90deg, #fff 48px, transparent 1%) center, linear-gradient(#fff 48px, transparent 1%) center, #685555;
  background-size: 50px 50px; }

h2, button {
  cursor: pointer;
  pointer-events: auto; }

@keyframes delayOpac1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
a:hover {
  text-decoration: none;
  color: none; }

.navBar__description {
  font-size: 13.5px;
  letter-spacing: 1px;
  font-style: italic;
  padding: 20px;
  background: white;
  border-radius: 8px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  opacity: 0;
  animation-duration: 2s;
  animation-name: delayOpac1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }

#vertical {
  width: 1px;
  display: block;
  margin: 1rem auto;
  height: 40px;
  background: #685555; }

.navBar {
  padding: 1rem;
  align-items: end;
  position: relative; }
  .navBar #logoHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 1px solid #685555;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 2px;
    background: #fff; }
    .navBar #logoHolder .navBar__logo {
      font-weight: 800;
      font-size: 50px;
      color: #685555;
      text-shadow: -4px 2px 6px rgba(104, 85, 85, 0.6);
      font-family: sans-serif; }
  .navBar__title {
    color: #685555;
    font-weight: 500;
    font-size: 40px;
    font-style: normal; }
  .navBar__open-buton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-top: 1rem; }
    .navBar__open-buton span:nth-child(1) {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background: rgba(204, 20, 20, 0.8);
      display: inline-block;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: absolute;
      top: 0;
      right: 5px; }
    .navBar__open-buton span:nth-child(2) {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background: rgba(255, 187, 0, 0.8);
      display: inline-block;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: absolute;
      top: 0;
      right: 20px; }
    .navBar__open-buton span:nth-child(3) {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background: rgba(33, 117, 59, 0.8);
      display: inline-block;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: absolute;
      top: 15px;
      right: 5px; }
    .navBar__open-buton span:nth-child(4) {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      background: rgba(104, 85, 85, 0.8);
      display: inline-block;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      position: absolute;
      top: 15px;
      right: 20px; }

.border {
  border: 1px solid #FFBB00 !important; }

.login {
  position: relative;
  background: white; }
  .login__names {
    position: absolute;
    top: 30px;
    left: 60px; }
    .login__names h2#login-title {
      color: #C8C1B0; }
    .login__names h2 {
      position: relative;
      display: inline-block;
      transition: all 1s; }
      .login__names h2:after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        left: 0;
        width: 0%;
        height: 2px;
        background: #fff;
        transition: all .3s; }
      .login__names h2:hover:after {
        width: 100%; }
  .login .form-control {
    border: none; }
  .login img {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .login .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.15); }
  .login form {
    position: absolute;
    top: 0;
    z-index: 1111111;
    left: 0;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 77%; }
    .login form ::placeholder {
      color: #fff; }
    .login form .signUpBtn {
      background-color: #00ced1;
      width: 100%;
      border-radius: 50px;
      border: none;
      transition: all .3s;
      color: #fff;
      margin-top: 2rem; }
    .login form #logInBtn {
      background-color: #FFBB00;
      width: 100%;
      border-radius: 50px;
      border: none;
      transition: all .3s;
      color: #fff;
      margin-top: 2rem; }
    .login form input {
      background: rgba(128, 128, 128, 0.3);
      border-radius: 50px;
      color: #fff !important; }
      .login form input:focus {
        background: rgba(128, 128, 128, 0.3); }
    .login form label {
      color: #C8C1B0; }

/*# sourceMappingURL=app.css.map */
