@import 'mixins';
@import 'variables';

p, span,small, a {
    font-family: 'Montserrat';
    margin-bottom:0;
}

h1,h2,h3,h4,h5,h5 {
    font-family: 'Roboto';
}

body {
    background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$logo-color;
    background-size: $dot-space $dot-space;
}

h2, button {
    cursor:pointer;
    pointer-events: auto;
}

@keyframes delayOpac1 {
    from {
        opacity:0; 
    }
    to {
       opacity:1;
    }
}


a:hover {
    text-decoration: none;
    color:none;
}

.navBar__description {
    font-size:13.5px;
    letter-spacing: 1px;
    font-style: italic;
    padding:20px;
    background: white;
    @include bordeRadius(8px);
    // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
    bottom:30px;
    left:30px;
    opacity: 0;
    animation-duration: 2s;
    animation-name: delayOpac1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

#vertical {
    width:1px;
    display: block;
    margin:1rem auto;
    height: 40px;
    background:$logo-color;
}

.navBar {
    padding:1rem;
    align-items: end;
    position: relative;

    // logo styles
    @include logoStyles;
    
    &__title {
        color:$logo-color;
        font-weight: 500;
        font-size: 40px;
        font-style:normal;
    }
    
    &__open-buton {
        position: absolute;
        top:0;
        right:0;
        width:40px;
        height:40px;
        margin-top:1rem;
        span:nth-child(1) {
            @include toggle4ButtonMenu($toggleRed);
            position:absolute;
            top:0;
            right:5px;
        }

        span:nth-child(2) {
            @include toggle4ButtonMenu($toggleYellow);
            position:absolute;
            top:0;
            right:20px;
        }

        span:nth-child(3) {
            @include toggle4ButtonMenu($toggleGreen);
            position:absolute;
            top:15px;
            right:5px;
        }

        span:nth-child(4) {
            @include toggle4ButtonMenu($toggleGray);
            position:absolute;
            top:15px;
            right:20px;
        }
    }
}


.border {
    border:1px solid $toggleYellow!important;
}


// login container
.login {
    position: relative;
    background:white;

    &__names {
        position: absolute;
        top:30px;
        left:60px;
        
        h2#login-title {
            color:$text-label;
        }
        h2 {
            position: relative;
            display: inline-block;
            transition:all 1s;
            &:after {
                position:absolute;
                display: block;
                content:'';
                bottom:0;
                left:0;
                width:0%;
                height:2px;
                background: $white;
                transition:all .3s;
            }

            &:hover:after {
                width:100%;
            }
        }
    }

    .form-control {
        border:none;
    }
    img {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .overlay{
        position: absolute;
        // width:calc(100% - 40px);
        // height:calc(100% - 40px);
        width:100%;height:100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(red, .15);
    }

    form {
        position: absolute;
        top: 0;
        z-index: 1111111;
        left: 0;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 77%;

        ::placeholder {
            color:$white;
        }

        .signUpBtn {
            @include button($darkTurqoise, 100%, 50px);
            border:none;
            transition: all .3s;
            color:$white;
            margin-top:2rem;
        }

        #logInBtn {
            @include button($toggleYellow, 100%, 50px);
            border:none;
            transition: all .3s;
            color:$white;
            margin-top:2rem;
        }
        input {
            background:rgba(gray, .3);
            border-radius:50px;
            color:$white!important;

            &:focus {
                background:rgba(gray, .3);
            }
        }
            
        label {
            color:$text-label;
        }

        
    }
}


