
// logo component
@mixin logoStyles {
    #logoHolder {
        position: absolute;
        top:0;
        left:0;
        width:100px;
        height:100px;
        border:1px solid $logo-color;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius:50%;
        border-width: 2px;
        background:#fff;

        .navBar__logo {
            font-weight: 800;
            font-size: 50px;
            color:$logo-color;
            text-shadow: $text-shadow;
            font-family: sans-serif
        }
    }
}

@mixin toggle4ButtonMenu($color) {
    width:20px;
    height:20px;
    border-radius:50px;
    background:rgba($color, .8);
    display: inline-block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin bordeRadius($radius) {
    border-radius:$radius;
}

@mixin button($bgColor, $width, $borderRadius) {
    background-color:$bgColor;
    width:$width;
    border-radius:$borderRadius;
}

@-webkit-keyframes swing {
    20% {
      -webkit-transform: rotate3d(0, 0, 1, 15deg);
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      -webkit-transform: rotate3d(0, 0, 1, -10deg);
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      -webkit-transform: rotate3d(0, 0, 1, 5deg);
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      -webkit-transform: rotate3d(0, 0, 1, -5deg);
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }