
// vars
$logo-color: #685555;
$text-shadow : -4px 2px 6px rgba(#685555, .6);
$text-label: #C8C1B0;
$bg-color: #fff;
$dot-color: #1370FB;;
$white:#fff;
$darkTurqoise: #00ced1;

// toggle colors animation
$toggleRed: #CC1414;
$toggleYellow: #FFBB00;
$toggleGreen: #21753B;
$toggleGray: #685555;

// Dimensions for button animation
$dot-size: 2px;
$dot-space: 50px;